<div>
    <div id="acxm-glbal-nav-l0">
        <div class="s-logo">
            <a href="#" target="_blank" title="Go to ACXIOM Web Site">
                <img src="#" alt="ACXIOM Logo"/>
                <label>AOS</label>
            </a>
        </div>

        <div class="s-application-name acxm-dd-menu">
            <label></label>
            <ul>
                <li class="application-marketplace">
                    <a href="#">
                        <span class="label">Application Marketplace</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="right-section">
            <div class="s-tenant acxm-dd-menu">
                <label></label>
                <ul>
                </ul>
            </div>

            <div class="s-user-name acxm-dd-menu acxm-dd-menu-left">
                <label></label>
                <ul>
                    <li>
                        <ol>
                            <li data-id="help">
                                <a target="_blank">
                                    <span class="label">Help</span>
                                </a>
                            </li>
                            <li data-id="tech-support">
                                <a target="_blank">
                                    <span class="label">Tech Support</span>
                                </a>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <ol>
                            <li data-id="settings">
                                <a target="_blank">
                                    <span class="label">Account Settings</span>
                                </a>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <ol>
                            <li data-id="signout">
                                <a>
                                    <span class="label">Sign Out</span>
                                </a>
                            </li>
                        </ol>
                    </li>
                </ul>
            </div>

            <div class="s-signin hidden">
                <a href="#">Sign In</a>
            </div>

            <!--
            <div class="s-notification">
                <label>2</label>
            </div>
            -->

        </div>
    </div>

    <div id="acxm-glbal-nav-l1">
        <div class="s-placeholder-left">

        </div>

        <div class="s-feature-bar">
            <ul></ul>
        </div>

        <div class="s-placeholder-right">
            <ul>
                <li data-id="upgrade">
                    <a href="#">Upgrade</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="s-collapse" title="Collapse/Expand">^</div>

</div>
