/* @import url("lavender.less"); */

/* @import url("blue.less"); */

/* @import url("sage.less"); */

/* @import url("rust.less"); */

/*@import url("teal.less"); */

/* default settings */
.checkbox-radio-img {
  background-position: 0px -70px;
}
/* font */
@font-face {
  font-family: 'acxiom-Helvetica';
  src: url('font/helveticaneuece55roman.eot') format('eot'), url('font/helveticaneuece55roman.eot?#iefix') format('embedded-opentype'), url('font/helveticaneuece55roman.woff') format('woff'), url('font/helveticaneuece55roman.ttf') format('truetype'), url('font/helveticaneuece55roman.svg#helveticaneuece55roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
.status-font {
  font-weight: bold;
}
/* colors */
/* utility */
.no-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html,
body {
  margin: 0 !important;
  height: 100%;
  width: 100%;
  text-align: center;
}
.acxiom-background-color-bar {
  position: relative;
  height: 45px !important;
  width: 100%;
  background-color: #b85f1b;
  /* Background color of Top Navigation */
  z-index: 1 !important;
}
.acxiom-page-container {
  text-align: left;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 960px;
  min-height: 400px;
  position: relative !important;
  top: -40px;
  height: auto;
  z-index: 2 !important;
  background: white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
