/* @import url("lavender.less"); */

/* @import url("blue.less"); */

/* @import url("sage.less"); */

/* @import url("rust.less"); */

/*@import url("teal.less"); */

/* default settings */
.checkbox-radio-img {
  background-position: 0px -70px;
}
/* font */
@font-face {
  font-family: 'acxiom-Helvetica';
  src: url('font/helveticaneuece55roman.eot') format('eot'), url('font/helveticaneuece55roman.eot?#iefix') format('embedded-opentype'), url('font/helveticaneuece55roman.woff') format('woff'), url('font/helveticaneuece55roman.ttf') format('truetype'), url('font/helveticaneuece55roman.svg#helveticaneuece55roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
.status-font {
  font-weight: bold;
}
/* colors */
/* utility */
.no-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.acxiom-general.page {
  font-size: 21px;
  color: #404f5a;
  font-weight: bold;
}
.acxiom-general.container {
  font-size: 13px;
  color: #666666;
  font-weight: normal;
  text-transform: uppercase;
}
.acxiom-general.header {
  font-size: 11px;
  color: #444444;
  font-weight: bold;
  text-transform: uppercase;
}
