<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Archetype Created Web Application</display-name>
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter>
    <display-name>AntiCachingFilter</display-name>
    <filter-name>AntiCachingFilter</filter-name>
    <filter-class>com.acxiom.insightlab.filter.AntiCachingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AntiCachingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- i18n begin -->
  <filter>
    <filter-name>ResourceContextInitializer</filter-name>
    <filter-class>com.acxiom.web.i18n.AcxResourceContextInitializer</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>ResourceContextInitializer</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>userResource</servlet-name>
    <servlet-class>com.acxiom.web.i18n.AcxUserResources</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userResource</servlet-name>
    <url-pattern>/locale/setting</url-pattern>
  </servlet-mapping>
  <!-- i18n end --> 
  <filter>
    <filter-name>cacheFilter</filter-name>
    <filter-class>com.acxiom.insightlab.filter.AntiCachingFilter</filter-class>
  </filter>
  <filter>
    <display-name>HttpRequestPerformanceFilter</display-name>
    <filter-name>HttpRequestPerformanceFilter</filter-name>
    <filter-class>com.acxiom.insightlab.admin.utils.web.performance.HttpRequestPerformanceFilter</filter-class>
  </filter>
  <filter>
    <display-name>BasicAuthenticationFilter</display-name>
    <filter-name>BasicAuthenticationFilter</filter-name>
    <filter-class>com.acxiom.insightlab.admin.security.BasicAuthenticationFilter</filter-class>
  </filter>
   <filter>
    <display-name>XSSFilter</display-name>
    <filter-name>XSSFilter</filter-name>
    <filter-class>com.acxiom.insightlab.filter.XSSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HttpRequestPerformanceFilter</filter-name>
    <servlet-name>MVCDispatcher</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>cacheFilter</filter-name>
    <url-pattern>/srv/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>BasicAuthenticationFilter</filter-name>
    <url-pattern>/srv/admin/*</url-pattern>
    <url-pattern>/srv/authtoken/user/details</url-pattern>
	<url-pattern>/srv/authtoken/user/details/globalprofile</url-pattern>
	<url-pattern>/srv/authtoken/company/info</url-pattern>
	<url-pattern>/srv/authtoken/user/details/roles</url-pattern>
	<url-pattern>/srv/authtoken/application/roles</url-pattern>
	<url-pattern>/srv/authtoken/cookie</url-pattern>
	<url-pattern>/srv/authtoken/cookie/*</url-pattern>
		
	<!-- 
		do not filter: 
		/srv/authtoken/user/details/username
		/srv/authtoken/authenticated
	-->
  </filter-mapping>
  <filter-mapping>
    <filter-name>BasicAuthenticationFilter</filter-name>
    <servlet-name>performanceMonitor</servlet-name>
  </filter-mapping>
   <filter-mapping>
    <filter-name>XSSFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>etm.contrib.integration.web.EtmMonitorContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>MVCDispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>performanceMonitor</servlet-name>
    <servlet-class>etm.contrib.integration.web.HttpConsoleServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>VersionInfoServlet</display-name>
    <servlet-name>VersionInfoServlet</servlet-name>
    <servlet-class>com.acxiom.insightlab.service.VersionInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVCDispatcher</servlet-name>
    <url-pattern>/srv/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>performanceMonitor</servlet-name>
    <url-pattern>/admin/performance/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VersionInfoServlet</servlet-name>
    <url-pattern>/version</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <description>header and footer settings</description>
      <url-pattern>*.html</url-pattern>
      <include-prelude>/resources/html/header.jsp</include-prelude>
      <include-coda>/resources/html/footer.html</include-coda>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>CacheListenerServlet</display-name>
    <servlet-name>CacheListenerServlet</servlet-name>
    <servlet-class>com.acxiom.insightlab.admin.CacheListenerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CacheListenerServlet</servlet-name>
    <url-pattern>/admin/cache</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>401</error-code>
    <location>/WEB-INF/view/error-pages/401.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/view/error-pages/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/view/error-pages/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/view/error-pages/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/WEB-INF/view/error-pages/503.jsp</location>
  </error-page>
</web-app>