.slider-together .slider-container {
    margin: 0 0 35px;
}

.slider-together .acxm-checkbox {
    position: relative;
    text-align: right;
    top: -15px;
}

.slider4 .acxm-checkbox {
    float: right;
}
